@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 83 56% 88%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

